html{
    background-color: rgb(194, 191, 191);
}
#root{
    background-color: white;
    width: 660px;
    margin: 10px auto;
}

.accordion-section {
    border-bottom: 1px solid #ccc;
  }
  
  .accordion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .accordion-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }
  
  .accordion-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .accordion-info {
    margin-top: 1rem;
    text-align: left; 
  }
  
  .active .accordion-toggle {
    order: -1; 
  }
  
  .active .accordion-info {
    order: 1; 
  }
  